node_modules/
dist/
.env
.env.local
.DS_Store
*.log

prisma/
/generated/prisma
skills/
skills-lock.json

# AI tool directories
.adal/
.agents/
.aider-desk/
.augment/
.bob/
.claude/
.codeartsdoer/
.codebuddy/
.codemaker/
.codestudio/
.commandcode/
.continue/
.cortex/
.crush/
.devin/
.forge/
.goose/
.iflow/
.junie/
.kilocode/
.kiro/
.kode/
.mcpjam/
.mux/
.neovate/
.openhands/
.pi/
.pochi/
.qoder/
.qwen/
.roo/
.rovodev/
.tabnine/
.trae/
.vibe/
.windsurf/
.zencoder/
